.dropdown {
  @apply relative inline-flex align-top;
  .dropdown-menu{
    min-width: 12rem;
    padding-top: 4px;
    top: 100%;
    left: unset;
    @apply hidden absolute bg-white text-dark;
  }
  &.is-active .dropdown-menu,
  &.is-hoverable:hover .dropdown-menu{
    @apply block;
  }
}
