// loaders
#loading_files,
#no_files,
#no_search,
#ajax_error {
    @apply absolute inset-0 flex overflow-hidden items-center flex-col justify-center bg-theme z-10;

    h3 {
        @apply mt-4 text-theme-50 text-lg;
    }
}

// anim
#loading_files_anim,
#ajax_error_anim,
#no_search_anim,
#no_files_anim {
    @apply overflow-hidden;
}

#loading_files {
    #loading_files_anim {
        @apply h-full;

        svg {
            transform: scale(1.5) !important;
        }
    }

    h3 {
        @apply m-0 mb-8;
    }
}

#ajax_error_anim {
    width: 150px;
}

#no_search_anim {
    width: 200px;

    svg {
        transform: scale(3) !important;
    }
}

#no_files {
    #no_files_anim {
        width: 125px;
    }

    h3 {
        @apply ml-4;
    }
}
